body {
    background-color: whitesmoke;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-title {
    font-size: 70px;
    margin-top: 50px;
}

#page-headline {
    font-style: italic;
    font-size: 30px;
    margin: 25px;
}

.todo-btn {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-shadow: 2.5px 2.5px 2.5px ;
}

.todo-form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 10px;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    padding: 10px;
}

.new-post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    border: 1px solid black;
    outline: 1px solid black;
}

.tasks-content {
    display: flex;
    width: 90%;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: auto;
    margin-top: 25px;
}

.incompleted-tasks-container{
    border: 1px solid black;
    width: 50%;
    text-align: center;
}

.completed-tasks-container {
    border: 1px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.completion-check {
    background-color: blue;
    border: 1px solid black;
}