body {
    background-color: whitesmoke;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-title {
    font-size: 70px;
    border: 1px solid black;
    margin-top: 50px;
}

#page-headline {
    font-style: italic;
    font-size: 30px;
    border: 1px solid black;
    margin: 25px;
}

.todo-btn {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    box-shadow: 2.5px 2.5px 2.5px ;
}

.todo-form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    gap: 10px;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    padding: 10px;
}

.new-post {
    background-color: blue;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 20px;
}

.new-tasks-content {
    margin-top: 50px;
    display: flex;
    width: 90%;
    gap: 5px;
    justify-content: center;
}

.incompleted-tasks-container{
    border: 1px solid black;
    width: 40%;
    height: 300px;
}

.completed-tasks-container {
    border: 1px solid black;
    width: 40%;
    height: 300px;
}
