@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #F4F4F4;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1A3B5D;
}

#page-title {
    font-size: 70px;
    margin-top: 50px;
    letter-spacing: 5px;
    font-family: "Kaushan Script", cursive;
    color: #50C878;
    display: flex;
    align-items: flex-end;
}

#page-headline {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.todo-btn {
    width: 125px;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    background-color: #50C878;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.todo-btn:hover {
    background-color: #50C878;
    transform: scale(1.05);
}

.todo-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(0, 0, 0, .1);
    align-items: center;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);    
    position: absolute;
    z-index: 1;
    margin-top: 10%;
    width: 40%;
}

.form-inputs {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 12px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "Poppins", sans-serif;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.form-inputs:focus{
    outline: none;
    box-shadow: 0 0 8px rgba(255, 111, 60, 0.6);
    transform: scale(1.02);
}

#form-submit-btn {
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    background-color: #FF6F3C;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#form-submit-btn:hover {
    background-color: #FF573C;
    transform: scale(1.05);
}

.new-post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    border-bottom: 1px solid black;
    font-family: "Poppins", sans-serif;
}

#info-btn{
    cursor: pointer;
    filter: brightness(150%);
    padding: 0;
    border: none;
    background: none;
}

#info-btn svg {
    filter: inherit;
    transition: filter .3s;
}

#info-btn:hover svg{
    filter: brightness(180%);
}

.tasks-content {
    display: flex;
    width: 90%;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 25px;
    font-family: "Poppins", sans-serif;
}

.task-details-popup {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    background-color: aqua;
}

.incompleted-tasks-container{
    width: 65%;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.completed-tasks-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    border-left: 1px solid #1A3B5D;
}

#clear-completed-tasks-btn{
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    background-color: #FF6F3C;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 15px;
}

#clear-completed-tasks-btn:hover{
    background-color: #FF573C;
    transform: scale(1.05);
}

.completion-check {
    background-color: blue;
    border: 1px solid black;
    cursor: pointer;
}